html {
    padding: 4px;
    margin: 4px;
}

body {
    background: #000;
    padding: 0px;
    margin: 0px;
}

h2 {
    color: gold;
    text-align: center;
}

h3 {
    font-size: 1em;
    color: goldenrod;
}

p {
    font-size: 0.9em;
    color: rgb(201, 155, 40);
    text-align: center;
}

input {
    width: 40px;
    margin: 1px;
}

label {
    font-size: 0.8em;
    color: gold;
}

svg {
    padding: 0%;
    stroke-width: 6px;
    stroke: black;
    fill: none;
    width: 100%;
}

svg g {
    stroke-width: 5pt;
}

svg g :nth-child(1) {
    fill: #3184e4;
}

svg g :nth-child(2) {
    fill: #3184e4;
}

svg g :nth-child(3) {
    fill: black;
}

svg g :nth-child(4) {
    fill: black;
}


.mainDiv {
    grid-area: main;
    background-color: #3184e4;
}

.rightDiv {
    grid-area: right;
}

.footerDiv {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas: 'main main right' 'footer footer footer';
    grid-gap: 10px;
    padding: 10px;
}

.buttonBar {
    padding: 8px;
    margin: 8px;
}